*{
    margin: 0;
    padding: 0;
}

.form-create{
    margin-top: 300px;
    text-align: center;
    justify-content: center;
    margin-left: 35rem;
}

.btn-primary{
    margin-top: 10px;
    width: 418px;
}

.control-label{
    width: 418px;
}

.form-control{
    width: 418px;
}

.container-index{
    margin-left: 400px;
}

.container-edit{
    margin-left: 35em;
    margin-top: 250px;
}

.login{
    margin-left: 30em;
    margin-top: 250px;
}

.login-input{
    width: 270px;
}

.button-submit{
    width: 270px;
    background-color: blueviolet;
    color: white;
}

